.center {
  width: 800px;
  height: 80%;
  background-color: #d0e2ff;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 15px;
  overflow-y: auto;
}

.title {
  color: #2e475d;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container,
.devise-grid-container,
.history-grid-container {
  display: grid;
  gap: 2px;
  background-color: #f1f1f1;
  padding: 2px;
}

.devise-grid-container {
  grid-template-columns: auto auto;
  background-color: #f1f1f1;
}

.history-grid-container {
  grid-template-columns: 17% 16% 16% 16% 16% 17%;
}

.grid-item {
  background-color: #d0e2ff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

input {
  padding: 10px;

  border-radius: 10px;
  border: solid 1px #2e475d;
  color: #2e475d;
}

.input-readonly {
  background-color: #f0f0f0;
  border: none;
}

.width-50 {
  width: 50%;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 15px;
  background-color: aquamarine;
}
