<div class="center">
  <h2 class="title">Euro <=> Dollar</h2>
  <p>Taux de change EUR / USD: {{ realExchangeRate }}</p>
  <p>
    <input id="force" type="checkbox" [(ngModel)]="force" />
    <label for="force">Forcer taux de change </label>
  </p>
  <input
    type="number"
    class="width-75"
    [ngClass]="{ 'input-readonly': !force }"
    [readonly]="!force"
    [ngModel]="forcedExchangeRate"
    (ngModelChange)="forcedExchangeRateValuechange($event)"
  />
  <button
    *ngIf="force"
    [disabled]="forcedExchangeRate == 0"
    (click)="exchangeWithForcedExchangeRate()"
  >
    Forcer le taux
  </button>
  <br />
  <small *ngIf="force"><i>Veuillez saisir un taux > 0</i></small>
  <p>
    <input id="switch-devise" type="checkbox" [(ngModel)]="euroToUsd" />
    <label for="switch-devise">{{
      euroToUsd ? "EURO => USD" : "USD => EURO"
    }}</label>
  </p>

  <div class="devise-grid-container">
    <div class="grid-item">EUR</div>
    <div class="grid-item">
      <input
        type="number"
        class="width-50"
        [ngClass]="{ 'input-readonly': !euroToUsd }"
        [readonly]="!euroToUsd"
        [ngModel]="euroValue"
        (ngModelChange)="euroValuechange($event)"
      />
      <button *ngIf="euroToUsd" (click)="exchangeEuroToUsd()">Exchange</button>
    </div>
    <div class="grid-item">USD</div>
    <div class="grid-item">
      <input
        type="number"
        class="width-50"
        [ngClass]="{ 'input-readonly': euroToUsd }"
        [readonly]="euroToUsd"
        [(ngModel)]="usdValue"
        (ngModelChange)="usdValuechange($event)"
      />

      <button *ngIf="!euroToUsd" (click)="exchangeUsdToEuro()">Exchange</button>
    </div>
  </div>

  <h3>Historique</h3>

  <div class="history-grid-container">
    <div class="grid-item">Taux réel.</div>
    <div class="grid-item">Taux fixe</div>
    <div class="grid-item">Devise</div>
    <div class="grid-item">Valeur</div>
    <div class="grid-item">Devise de change</div>
    <div class="grid-item">Valeur calculé</div>
  </div>
  <div *ngFor="let history of histories">
    <div class="history-grid-container">
      <div class="grid-item">{{ history.realExchangeRate }}</div>
      <div class="grid-item">{{ history.forcedExchangeRate }}</div>
      <div class="grid-item">{{ history.initDevise }}</div>
      <div class="grid-item">{{ history.initValue }}</div>
      <div class="grid-item">{{ history.targetDevise }}</div>
      <div class="grid-item">{{ history.calculatedValue }}</div>
    </div>
  </div>
</div>
